<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Mls number</th>
      <th>Address</th>
      <th>Listing price</th>
      <th>Avg rent</th>
      <th>Monthly payment</th>
      <th>Yearly taxe</th>
      <th>Insurance</th>
      <th>Square footage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.mls_number %></td>
        <td><%= listing.address %></td>
        <td><%= listing.listing_price %></td>
        <td><%= listing.avg_rent %></td>
        <td><%= listing.monthly_payment %></td>
        <td><%= listing.yearly_taxe %></td>
        <td><%= listing.insurance %></td>
        <td><%= listing.square_footage %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
