<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @zip_code.code %>
</p>

<p>
  <strong>AVG Listing Price:</strong>
  <%= number_to_currency @zip_code.average_listing_price %>
</p>

<p>
  <strong>Median Listing Price:</strong>
  <%= number_to_currency @zip_code.median_listing_price %>
</p>

<p>
  <strong>Price to Rent Ratio:</strong>
  <%= @zip_code.price_to_rent_ratio %>
</p>

<p>
  <strong>Median Rent:</strong>
  <%= number_to_currency @zip_code.median_rent %>
</p>

<p>
  <strong>Estimated Rent:</strong>
  <%= number_to_currency @zip_code.estimated_rent %>
</p>

<hr />


<% @search_url = zip_code_path(@zip_code) %>
<%= render 'listings/listing_table' %>

<%= link_to 'Edit', edit_zip_code_path(@zip_code) %> |
<%= link_to 'Back', zip_codes_path %>
